API_URL="http://url"

HOST_DB_TPA="http://url"
DB_TPA="BD"
USER_DB_TPA="USER"
PASSWORD_DB_TPA="USER"
PORT_DB_TPA=3300

HOST_DB_IRGE="http://url"
DB_IRGE="BD"
USER_DB_IRGE="USER"
PASSWORD_DB_IRGE="USER"
PORT_DB_IRGE=3300

ID_USER_REG=
USER_REG=
API_KEY=
API_WEBHOOKS_KEY=
ID_DESTINOS_TPA=
ID_DESTINOS_IRGE=
ID_TRANSPORTISTA_TPA=
ID_TRANSPORTISTA_IRGE=
ID_AUTOTANQUE_TPA=
ID_AUTOTANQUE_IRGE=